<nav class="navbar navbar-default">
  <div class="container-fluid" style="margin-bottom: 13px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logos/ng-book-2-minibook.png" />
        ng-book 2
      </a>
    </div>
  </div>
</nav>

<!-- username and password form -->
<form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form col-sm-4 col-sm-offset-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="panel-title">Login</h2>
    </div>

    <div class="panel-body">
      <!-- username form -->
      <div class="form-group col-sm-14">
        <label class="control-label" for="username">
          <h5>Username</h5>
        </label>
        <input class="form-control" placeholder="username@gmail.com" formControlName="username">
        <div class="text-danger small" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">Username is required</div>
      </div>

      <!-- password form -->
      <div class="form-group col-sm-14">
        <label class="control-label" for="username">
          <h5>Password</h5>
        </label>
        <input class="form-control input-password" type="password" placeholder="password"
          [formControl]="loginForm.controls['password']">
          <div class="text-danger small" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Password is required</div>
      </div>

      <!-- login button -->
      <div class="login-button">
        <div class="alert alert-danger" role="alert" *ngIf="message"> 
          {{ message }}
        </div>
        <button class="btn btn-info" style="width: 100%;" type="submit">Log in</button>
      </div>

    </div>
  </div>
</form>

<!-- <span *ngIf="authService.getUser()"> 
    <chat-page></chat-page>
</span> -->
