.container-image-button {
  max-width: 600px;
  margin-top: 5px;
  padding: 1px;
  max-height: 600px;   
}

.card-image-button {
  max-width: 600px;
  height: 600px; 
  overflow-y: scroll;
}

.text-chat-app {
  text-align: right;
}